<div class="wrapper">
  <div class="weather">
    <ng-container *ngIf="weather; else noWeather">
      <h1>Local weather for {{weather.name}}</h1>
      <div class="temperature">
        <h1>{{weather.main.temp}}&deg; F</h1>
        <span class="badge badge-info">{{weather.main.temp_min}}&deg; F</span>
        <span class="badge badge-danger">{{weather.main.temp_max}}&deg; F</span>
      </div>
      <span class="badge badge-primary">
        {{weather.weather[0].description}}
        <i class="fa" [class]="getWeatherClass()"></i>
      </span>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Enter a city name" [(ngModel)]="cityName" (keyup.enter)="getWeatherForCity()" />
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="getWeatherForCity()">Submit</button>
        </span>
      </div>
    </ng-container>
    <ng-template #noWeather>
      Loading...<span class="fa fa-spinner fa-spin"></span>
    </ng-template>
  </div>
</div>
